:root {
  --background: #23252C;
  --title: #FFFFFF;
  --sub-title: #F5F5F5;
  --simple-txt: #DCDCDC;
  --frontend: hsl(25, 79%, 78%);
  --site: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  list-style-type: none;
  border: none;
  text-decoration: none;
}

#root {
  background-color: var(--background);
  display: flex;
  width: 100vw;
  height: 100vh;
}